.mainContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  position: relative;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr 30%;
  justify-content: center;
  align-items: center;
  @media (min-width: 300px) and (max-width: 992px) { 
    grid-template-columns: 1fr;
  }
  .textContainer {
    @media (min-width: 300px) and (max-width: 992px) { 
      text-align: center;
    }
    .nameText {
      font-family: Poppins;
      font-size: 2.5rem;
      color: var(--purple-500);
      font-weight: bold;
      margin-left: 2rem;
      margin-top: .5rem;
      max-width: initial;

      @media (min-width: 300px) and (max-width: 992px) { 
        font-size: 1.5rem;
        margin-left: 0;
      }
    }

    p {
      font-weight: 300;
      max-width: 640px;

      @media (min-width: 300px) and (max-width: 992px) { 
        font-size: .825rem;
      }
      
      &.subtitle {
        max-width: initial;
        font-family: Poppins;
        font-size: 1.725rem;
        color: var(--green-500);
        font-weight: bold;
        margin-left: 4rem;
        margin-bottom: 1rem;

        @media (min-width: 300px) and (max-width: 992px) { 
          font-size: 1rem;
          margin-left: 0;
        }
      }
    }

    a {
      display: inline-block;
      margin-top: 1.5rem;
      background: var(--green-500);
      border: 1px solid var(--green-500);
      color: var(--gray-800);
      padding: .5rem 1rem;
      border-radius:.2rem;
      transition: filter .2s;

      &:hover {
        filter: brightness(.9)              
      }
    }
  } 

  .imageContainer {
    position: absolute;
    right: 0;
    top: 7rem;
    @media (min-width: 300px) and (max-width: 992px) { 
     display: none;
    }
    img {
      width: 100%;
    }
  }

  
}

.socialMediaContainer {
  position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    bottom: 1rem;

    @media (min-width: 300px) and (max-width: 992px) { 
      position: initial;
      margin-top: 2rem;
    }

  a {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: flex;
      left: 0;
      width: 100px;
      height: 2px;
      background: var(--white)
    }

    &:hover {
      transform: scale(1.05);
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

 }